<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Thank You for Your Donation!</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f8f9fa;
			padding: 20px;
		}

		.container {
			max-width: 600px;
			margin: auto;
		}

		.thank-you-message {
			background-color: #fff;
			border-radius: 10px;
			padding: 30px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
			margin-top: 30px;
		}

		.thank-you-message h1 {
			color: #007bff;
		}

		.thank-you-message p {
			margin-bottom: 20px;
		}

		
	</style>
</head>

<body>
	<div class="container">
		<div class="thank-you-message">
			<h1>Dear [best hearted Person!!],</h1>

			<p>Wow! You're amazing! 🌟 Thank you so much for your generous donation! Your support means the world to us.
			</p>

			<p>We are incredibly grateful for your contribution, and it will make a real difference in our service to people like you.</p>

			<p>Thank you once again for your kindness and generosity. We couldn't do it without supporters like you!</p>

			<p>Best wishes,</p>
			<p>[ Blogify !! ]</p>
		</div>

		<div class="text-center mt-3">

			<a href="/viewAllBlogs" class="btn btn-outline-info">Back to All Blogs</a>
		</div>

	</div>
</body>

</html>